openapi: 3.0.3
info:
  title: DocSpring API
  description: Use DocSpring's API to programmatically fill out PDF forms, convert
    HTML to PDFs, merge PDFs, or request legally binding e-signatures.
  version: v1
  contact:
    url: https://docspring.com/docs/
  license:
    name: Proprietary
externalDocs:
  url: https://docspring.com/docs/
  description: DocSpring API Documentation
servers:
- url: https://sync.api.docspring.com/api/v1
  description: DocSpring API
security:
- basicAuth: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'Username: API Token ID, Password: API Token Secret'
  schemas:
    error_or_multiple_errors_response:
      type: object
      title: error_or_multiple_errors_response
      properties:
        status:
          type: string
          enum:
          - error
        error:
          type: string
          description: Single error message (when only one error occurred)
        errors:
          type: array
          items:
            type: string
          description: Array of error messages (when multiple validation errors occurred)
      required:
      - status
      additionalProperties: false
    error_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - error
        error:
          type: string
      required:
      - status
      - error
      additionalProperties: false
      title: error_response
    json_schema:
      type: object
      properties:
        $schema:
          type: string
          format: uri
        id:
          type: string
          format: uri-reference
        title:
          type: string
        description:
          type: string
        definitions:
          type: object
          default: {}
        type:
          type: string
        properties:
          type: object
        additionalProperties:
          type: boolean
        required:
          type: array
          items:
            type: string
      additionalProperties: false
      title: json_schema
    multiple_errors_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - error
        errors:
          type: array
          items:
            type: string
      required:
      - status
      - errors
      additionalProperties: false
      title: multiple_errors_response
    submission_422_response:
      type: object
      title: submission_422_response
      properties:
        status:
          type: string
          enum:
          - error
        error:
          type: string
          description: Single error message (for non-validation errors)
        submission:
          $ref: '#/components/schemas/submission_preview'
          description: The submission object with validation errors (for validation
            errors)
        errors:
          type: array
          items:
            type: string
          description: Array of validation error messages (when submission data is
            invalid)
      required:
      - status
      additionalProperties: false
    success_error_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
        error:
          type: string
      required:
      - status
      additionalProperties: false
      title: success_error_response
    success_multiple_errors_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
        errors:
          type: array
          items:
            type: string
      required:
      - status
      additionalProperties: false
      title: success_multiple_errors_response
    template_add_fields_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
        errors:
          type: array
          items:
            type: string
        new_field_ids:
          type: array
          items:
            type: integer
      required:
      - status
      additionalProperties: false
      title: template_add_fields_response
    template_delete_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
        errors:
          type: array
          items:
            type: string
        latest_version:
          type: string
          nullable: true
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                type: string
              description:
                type: string
                nullable: true
              published_at:
                type: string
              published_by_id:
                type: string
            required:
            - version
            - published_at
            - published_by_id
            additionalProperties: false
      required:
      - status
      additionalProperties: false
      title: template_delete_response
    template_publish_version_response:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
        result:
          type: object
          additionalProperties: false
          properties:
            version:
              type: string
            description:
              type: string
              nullable: true
            published_by_id:
              type: string
            published_at:
              type: string
              format: date-time
          required:
          - version
          - published_by_id
          - published_at
        errors:
          type: array
          items:
            type: string
      required:
      - status
      - result
      additionalProperties: false
      title: template_publish_version_response
    upload_presign_response:
      type: object
      properties:
        fields:
          type: object
          properties:
            key:
              type: string
            policy:
              type: string
            x-amz-algorithm:
              type: string
            x-amz-credential:
              type: string
            x-amz-date:
              type: string
            x-amz-signature:
              type: string
          required:
          - key
          - policy
          - x-amz-algorithm
          - x-amz-credential
          - x-amz-date
          - x-amz-signature
          additionalProperties: false
        headers:
          type: object
        url:
          type: string
        method:
          type: string
          enum:
          - post
      required:
      - fields
      - headers
      - url
      additionalProperties: false
      title: upload_presign_response
    combined_submission_action:
      title: combined_submission_action
      type: object
      properties:
        id:
          type: string
          nullable: true
        integration_id:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - failed
          - error
        action_type:
          type: string
          enum:
          - webhook
          - slack_webhook
          - email
          - aws_s3_upload
          nullable: true
        action_category:
          type: string
          enum:
          - notification
          - file_upload
        result_data:
          type: object
        error_message:
          type: string
          nullable: true
      required:
      - action_category
      - action_type
      - error_message
      - id
      - integration_id
      - result_data
      - state
      additionalProperties: false
    combined_submission:
      title: combined_submission
      type: object
      properties:
        id:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - error
        expired:
          type: boolean
        expires_in:
          type: integer
          nullable: true
        expires_at:
          type: string
          nullable: true
        processed_at:
          type: string
          nullable: true
        error_message:
          type: string
          nullable: true
        submission_ids:
          type: array
          items:
            type: string
        source_pdfs:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum:
                - combined_submission
                - custom_file
                - submission
                - template
                - url
              template_version:
                type: string
              url:
                type: string
                format: uri
            required:
            - type
            additionalProperties: false
        metadata:
          type: object
        password:
          type: string
          nullable: true
        pdf_hash:
          type: string
          nullable: true
        download_url:
          type: string
          nullable: true
        actions:
          type: array
          items:
            $ref: '#/components/schemas/combined_submission_action'
      required:
      - actions
      - download_url
      - error_message
      - expired
      - expires_at
      - expires_in
      - id
      - metadata
      - password
      - pdf_hash
      - processed_at
      - source_pdfs
      - state
      - submission_ids
      additionalProperties: false
    custom_file:
      title: custom_file
      type: object
      properties:
        id:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
      required:
      - id
      - url
      additionalProperties: false
    folder:
      title: folder
      type: object
      properties:
        id:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        parent_folder_id:
          type: string
          nullable: true
      required:
      - id
      - name
      - parent_folder_id
      - path
      additionalProperties: false
    submission_action:
      title: submission_action
      type: object
      properties:
        id:
          type: string
          nullable: true
        integration_id:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - failed
          - error
        action_type:
          type: string
          enum:
          - webhook
          - slack_webhook
          - email
          - aws_s3_upload
        action_category:
          type: string
          enum:
          - notification
          - file_upload
        result_data:
          type: object
        error_message:
          type: string
          nullable: true
      required:
      - action_category
      - action_type
      - error_message
      - id
      - integration_id
      - result_data
      - state
      additionalProperties: false
    submission_batch:
      title: submission_batch
      type: object
      properties:
        id:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - error
        metadata:
          type: object
        processed_at:
          type: string
          nullable: true
        total_count:
          type: integer
        pending_count:
          type: integer
        error_count:
          type: integer
        completion_percentage:
          type: number
      required:
      - completion_percentage
      - error_count
      - id
      - metadata
      - pending_count
      - processed_at
      - state
      - total_count
      additionalProperties: false
    submission_batch_with_submissions:
      title: submission_preview
      type: object
      properties:
        id:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - error
        metadata:
          type: object
        processed_at:
          type: string
          nullable: true
        total_count:
          type: integer
        pending_count:
          type: integer
        error_count:
          type: integer
        completion_percentage:
          type: number
        submissions:
          type: array
          items:
            $ref: '#/components/schemas/submission_preview'
      required:
      - completion_percentage
      - error_count
      - id
      - metadata
      - pending_count
      - processed_at
      - state
      - total_count
      additionalProperties: false
    submission_data_request_event:
      title: submission_data_request_event
      type: object
      properties:
        id:
          type: string
          nullable: true
        submission_id:
          type: string
          nullable: true
        submission_data_request_id:
          type: string
          nullable: true
        event_type:
          type: string
          enum:
          - send_request
          - view_request
          - accepted_terms
          - decline_request
          - sign_request
          - all_completed
        message_type:
          type: string
          enum:
          - email
          - sms
          - fax
          - mail
          - slack
          - msteams
          - discord
          - telegram
          - whatsapp
          nullable: true
        message_recipient:
          type: string
          nullable: true
        occurred_at:
          type: string
          nullable: true
      required:
      - event_type
      - id
      - message_recipient
      - message_type
      - occurred_at
      - submission_data_request_id
      - submission_id
      additionalProperties: false
    submission_data_request:
      title: submission_data_request
      type: object
      properties:
        id:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        order:
          type: integer
          nullable: true
        sort_order:
          type: integer
        fields:
          type: array
          items:
            type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        state:
          type: string
          enum:
          - pending
          - completed
        viewed_at:
          type: string
          nullable: true
        completed_at:
          type: string
          nullable: true
        data:
          type: object
          nullable: true
        auth_type:
          type: string
          enum:
          - none
          - password
          - oauth
          - email_link
          - phone_number
          - ldap
          - saml
        auth_second_factor_type:
          type: string
          enum:
          - none
          - phone_number
          - totp
          - mobile_push
          - security_key
          - fingerprint
        auth_provider:
          type: string
          nullable: true
        auth_session_started_at:
          type: string
          nullable: true
        auth_session_id_hash:
          type: string
          nullable: true
        auth_user_id_hash:
          type: string
          nullable: true
        auth_username_hash:
          type: string
          nullable: true
        auth_phone_number_hash:
          type: string
          nullable: true
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
      required:
      - auth_phone_number_hash
      - auth_provider
      - auth_second_factor_type
      - auth_session_id_hash
      - auth_session_started_at
      - auth_type
      - auth_user_id_hash
      - auth_username_hash
      - completed_at
      - data
      - email
      - fields
      - id
      - ip_address
      - metadata
      - name
      - order
      - sort_order
      - state
      - user_agent
      - viewed_at
      additionalProperties: false
    submission_data_request_show:
      title: submission_data_request_show
      type: object
      properties:
        id:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        order:
          type: integer
          nullable: true
        sort_order:
          type: integer
        fields:
          type: array
          items:
            type: string
          nullable: true
        metadata:
          type: object
          nullable: true
        state:
          type: string
          enum:
          - pending
          - completed
        viewed_at:
          type: string
          nullable: true
        completed_at:
          type: string
          nullable: true
        data:
          type: object
          nullable: true
        auth_type:
          type: string
          enum:
          - none
          - password
          - oauth
          - email_link
          - phone_number
          - ldap
          - saml
        auth_second_factor_type:
          type: string
          enum:
          - none
          - phone_number
          - totp
          - mobile_push
          - security_key
          - fingerprint
        auth_provider:
          type: string
          nullable: true
        auth_session_started_at:
          type: string
          nullable: true
        auth_session_id_hash:
          type: string
          nullable: true
        auth_user_id_hash:
          type: string
          nullable: true
        auth_username_hash:
          type: string
          nullable: true
        auth_phone_number_hash:
          type: string
          nullable: true
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        submission_id:
          type: string
          nullable: true
      required:
      - auth_phone_number_hash
      - auth_provider
      - auth_second_factor_type
      - auth_session_id_hash
      - auth_session_started_at
      - auth_type
      - auth_user_id_hash
      - auth_username_hash
      - completed_at
      - data
      - email
      - fields
      - id
      - ip_address
      - metadata
      - name
      - order
      - sort_order
      - state
      - submission_id
      - user_agent
      - viewed_at
      additionalProperties: false
    submission_data_request_token:
      title: submission_data_request_token
      type: object
      properties:
        id:
          type: string
          nullable: true
        secret:
          type: string
        expires_at:
          type: string
          nullable: true
        data_request_url:
          type: string
          nullable: true
      required:
      - data_request_url
      - expires_at
      - id
      - secret
      additionalProperties: false
    submission_preview:
      title: submission_preview
      type: object
      properties:
        batch_id:
          type: string
          nullable: true
        data_requests:
          type: array
          items:
            $ref: '#/components/schemas/submission_data_request'
        editable:
          type: boolean
          nullable: true
        error_message:
          type: string
          nullable: true
        expired:
          type: boolean
        expires_at:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
        json_schema_errors:
          type: array
          items:
            type: string
          nullable: true
        metadata:
          type: object
        password:
          type: string
          nullable: true
        processed_at:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - invalid_data
          - error
          - image_download_failed
          - image_processing_failed
          - waiting_for_data_requests
          - syntax_error
          - account_suspended
          - license_revoked
          - accidental
        template_id:
          type: string
          nullable: true
        template_type:
          type: string
          enum:
          - pdf
          - html
        template_version:
          type: string
          nullable: true
        test:
          type: boolean
        truncated_text:
          type: object
          nullable: true
        pdf_hash:
          type: string
          nullable: true
        download_url:
          type: string
          nullable: true
        permanent_download_url:
          type: string
          nullable: true
        preview_download_url:
          type: string
          nullable: true
        preview_generated_at:
          type: string
          nullable: true
        audit_trail_download_url:
          type: string
          nullable: true
        actions:
          type: array
          items:
            $ref: '#/components/schemas/submission_action'
      required:
      - actions
      - audit_trail_download_url
      - batch_id
      - data_requests
      - download_url
      - editable
      - error_message
      - expired
      - expires_at
      - id
      - json_schema_errors
      - metadata
      - password
      - pdf_hash
      - permanent_download_url
      - preview_download_url
      - preview_generated_at
      - processed_at
      - state
      - template_id
      - template_type
      - template_version
      - test
      - truncated_text
      additionalProperties: false
    submission:
      title: submission
      type: object
      properties:
        batch_id:
          type: string
          nullable: true
        data_requests:
          type: array
          items:
            $ref: '#/components/schemas/submission_data_request'
        editable:
          type: boolean
          nullable: true
        error_message:
          type: string
          nullable: true
        expired:
          type: boolean
        expires_at:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
        json_schema_errors:
          type: array
          items:
            type: string
          nullable: true
        metadata:
          type: object
        password:
          type: string
          nullable: true
        processed_at:
          type: string
          nullable: true
        state:
          type: string
          enum:
          - pending
          - processed
          - invalid_data
          - error
          - image_download_failed
          - image_processing_failed
          - waiting_for_data_requests
          - syntax_error
          - account_suspended
          - license_revoked
          - accidental
        template_id:
          type: string
          nullable: true
        template_type:
          type: string
          enum:
          - pdf
          - html
        template_version:
          type: string
          nullable: true
        test:
          type: boolean
        truncated_text:
          type: object
          nullable: true
        pdf_hash:
          type: string
          nullable: true
        download_url:
          type: string
          nullable: true
        permanent_download_url:
          type: string
          nullable: true
        preview_download_url:
          type: string
          nullable: true
        preview_generated_at:
          type: string
          nullable: true
        audit_trail_download_url:
          type: string
          nullable: true
        actions:
          type: array
          items:
            $ref: '#/components/schemas/submission_action'
        source:
          type: string
          enum:
          - api
          - web
          - reprocess
          - webhook
        referrer:
          type: string
          nullable: true
        data:
          type: object
          nullable: true
      required:
      - actions
      - audit_trail_download_url
      - batch_id
      - data
      - data_requests
      - download_url
      - editable
      - error_message
      - expired
      - expires_at
      - id
      - json_schema_errors
      - metadata
      - password
      - pdf_hash
      - permanent_download_url
      - preview_download_url
      - preview_generated_at
      - processed_at
      - referrer
      - source
      - state
      - template_id
      - template_type
      - template_version
      - test
      - truncated_text
      additionalProperties: false
    template_preview:
      title: template_preview
      type: object
      properties:
        add_data_request_submission_id_footers:
          type: boolean
        allow_additional_properties:
          type: boolean
        description:
          type: string
          nullable: true
        document_filename:
          type: string
          nullable: true
        document_md5:
          type: string
          nullable: true
        document_parse_error:
          type: boolean
        document_processed:
          type: boolean
        document_state:
          type: string
          enum:
          - pending
          - processed
          - password_required
          - malformed_pdf
          - unknown_error
        document_url:
          type: string
          nullable: true
        editable_submissions:
          type: boolean
        embed_domains:
          type: string
          nullable: true
        encrypt_pdfs_password:
          type: string
          nullable: true
        encrypt_pdfs:
          type: boolean
        expiration_interval:
          type: string
        expire_after:
          type: integer
        expire_submissions:
          type: boolean
        external_predefined_fields_template_id:
          type: string
          nullable: true
        external_predefined_fields_template_name:
          type: string
          nullable: true
        first_template:
          type: boolean
        id:
          type: string
          nullable: true
        locked:
          type: boolean
        merge_audit_trail_pdf:
          type: boolean
        name:
          type: string
          nullable: true
        page_count:
          type: integer
        page_dimensions:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
          nullable: true
        parent_folder_id:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        permanent_document_url:
          type: string
          nullable: true
        public_submissions:
          type: boolean
        public_web_form:
          type: boolean
        redirect_url:
          type: string
          nullable: true
        slack_webhook_url:
          type: string
          nullable: true
        template_type:
          type: string
          enum:
          - pdf
          - html
        updated_at:
          type: string
          nullable: true
        version_published_at:
          type: string
          nullable: true
        version:
          type: string
          nullable: true
        webhook_url:
          type: string
          nullable: true
        demo:
          type: boolean
        latest_version:
          type: string
          nullable: true
        last_changed_at:
          type: string
          nullable: true
        last_changed_by_type:
          type: string
          enum:
          - user
          - api
          nullable: true
        last_changed_by_id:
          type: string
          nullable: true
      required:
      - add_data_request_submission_id_footers
      - allow_additional_properties
      - demo
      - description
      - document_filename
      - document_md5
      - document_parse_error
      - document_processed
      - document_state
      - document_url
      - editable_submissions
      - embed_domains
      - encrypt_pdfs
      - encrypt_pdfs_password
      - expiration_interval
      - expire_after
      - expire_submissions
      - external_predefined_fields_template_id
      - external_predefined_fields_template_name
      - first_template
      - id
      - last_changed_at
      - last_changed_by_id
      - last_changed_by_type
      - latest_version
      - locked
      - merge_audit_trail_pdf
      - name
      - page_count
      - page_dimensions
      - parent_folder_id
      - path
      - permanent_document_url
      - public_submissions
      - public_web_form
      - redirect_url
      - slack_webhook_url
      - template_type
      - updated_at
      - version
      - version_published_at
      - webhook_url
      additionalProperties: false
    template:
      title: template
      type: object
      properties:
        add_data_request_submission_id_footers:
          type: boolean
        allow_additional_properties:
          type: boolean
        description:
          type: string
          nullable: true
        document_filename:
          type: string
          nullable: true
        document_md5:
          type: string
          nullable: true
        document_parse_error:
          type: boolean
        document_processed:
          type: boolean
        document_state:
          type: string
          enum:
          - pending
          - processed
          - password_required
          - malformed_pdf
          - unknown_error
        document_url:
          type: string
          nullable: true
        editable_submissions:
          type: boolean
        embed_domains:
          type: string
          nullable: true
        encrypt_pdfs_password:
          type: string
          nullable: true
        encrypt_pdfs:
          type: boolean
        expiration_interval:
          type: string
        expire_after:
          type: integer
        expire_submissions:
          type: boolean
        external_predefined_fields_template_id:
          type: string
          nullable: true
        external_predefined_fields_template_name:
          type: string
          nullable: true
        first_template:
          type: boolean
        id:
          type: string
          nullable: true
        locked:
          type: boolean
        merge_audit_trail_pdf:
          type: boolean
        name:
          type: string
          nullable: true
        page_count:
          type: integer
        page_dimensions:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
          nullable: true
        parent_folder_id:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        permanent_document_url:
          type: string
          nullable: true
        public_submissions:
          type: boolean
        public_web_form:
          type: boolean
        redirect_url:
          type: string
          nullable: true
        slack_webhook_url:
          type: string
          nullable: true
        template_type:
          type: string
          enum:
          - pdf
          - html
        updated_at:
          type: string
          nullable: true
        version_published_at:
          type: string
          nullable: true
        version:
          type: string
          nullable: true
        webhook_url:
          type: string
          nullable: true
        demo:
          type: boolean
        latest_version:
          type: string
          nullable: true
        last_changed_at:
          type: string
          nullable: true
        last_changed_by_type:
          type: string
          enum:
          - user
          - api
          nullable: true
        last_changed_by_id:
          type: string
          nullable: true
        defaults:
          title: template_defaults
          type: object
          properties:
            characterSpacing:
              type: number
            checkColor:
              type: string
            color:
              type: string
            dateFormat:
              type: string
            dateTimeFormat:
              type: string
            fontSize:
              type: number
            opacity:
              type: number
            shapeBorderColor:
              type: string
            textColor:
              type: string
            typeface:
              type: string
            uppercase:
              type: boolean
            bold:
              type: boolean
            alignment:
              type: string
            shapeFillColor:
              type: string
            shapeBorderWidth:
              type: number
            checkCharacter:
              type: string
            checkBackgroundColor:
              type: string
            trueText:
              type: string
            falseText:
              type: string
            backgroundColor:
              type: string
          required:
          - color
          - fontSize
          - typeface
          additionalProperties: false
        field_order:
          type: array
          items:
            type: array
            items:
              type: number
        fields:
          type: object
          title: template_fields
        footer_html:
          type: string
          nullable: true
        header_html:
          type: string
          nullable: true
        html_engine_options:
          type: object
          title: html_engine_options
        html:
          type: string
          nullable: true
        predefined_fields:
          type: array
          items:
            type: object
            title: predefined_field
        scss:
          type: string
          nullable: true
        shared_field_data:
          type: object
          title: template_shared_field_data
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                type: string
              description:
                type: string
                nullable: true
              published_at:
                type: string
                format: date_time
              published_by_id:
                type: string
            required:
            - version
            - published_at
            - published_by_id
            additionalProperties: false
      required:
      - add_data_request_submission_id_footers
      - allow_additional_properties
      - defaults
      - demo
      - description
      - document_filename
      - document_md5
      - document_parse_error
      - document_processed
      - document_state
      - document_url
      - editable_submissions
      - embed_domains
      - encrypt_pdfs
      - encrypt_pdfs_password
      - expiration_interval
      - expire_after
      - expire_submissions
      - external_predefined_fields_template_id
      - external_predefined_fields_template_name
      - field_order
      - fields
      - first_template
      - footer_html
      - header_html
      - html
      - html_engine_options
      - id
      - last_changed_at
      - last_changed_by_id
      - last_changed_by_type
      - latest_version
      - locked
      - merge_audit_trail_pdf
      - name
      - page_count
      - page_dimensions
      - parent_folder_id
      - path
      - permanent_document_url
      - predefined_fields
      - public_submissions
      - public_web_form
      - redirect_url
      - scss
      - shared_field_data
      - slack_webhook_url
      - template_type
      - updated_at
      - version
      - version_published_at
      - versions
      - webhook_url
      additionalProperties: false
paths:
  /authentication:
    get:
      operationId: testAuthentication
      summary: Test authentication
      tags:
      - Authentication
      responses:
        '200':
          description: authentication succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success_error_response'
              example:
                status: success
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/success_error_response'
              example:
                status: error
                error: 'Could not find API token with ID: missing_api_token'
      description: 'Checks whether your API token is valid by making an authenticated
        request.

        Returns a success response if authentication passes. This endpoint is useful
        for

        verifying credentials during setup or troubleshooting issues.

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/authentication/
        description: Learn how to authenticate with the DocSpring API
      security:
      - basicAuth: []
  /combined_submissions:
    get:
      operationId: listCombinedSubmissions
      summary: Get a list of all combined submissions
      tags:
      - Combine PDFs
      responses:
        '200':
          description: enumerate all combined submissions
          content:
            application/json:
              schema:
                title: list_combined_submissions
                type: array
                items:
                  $ref: '#/components/schemas/combined_submission'
                additionalProperties: false
              example:
              - id: com_1234567890abcdef01
                state: processed
                expired: false
                expires_in: 300
                expires_at: '2018-10-20T13:05:00Z'
                processed_at: '2020-05-14T02:00:00Z'
                error_message: null
                submission_ids:
                - sub_1234567890abcdef01
                - sub_1234567890abcdef02
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: password123
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/submissions/sub_1234567890abcdef01/20171002192229.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions:
                - id: csa_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                  error_message: null
              - id: com_1234567890abcdef02
                state: pending
                expired: false
                expires_in: null
                expires_at: null
                processed_at: null
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: null
                download_url: null
                actions: []
              - id: com_1234567890abcdef03
                state: processed
                expired: false
                expires_in: null
                expires_at: null
                processed_at: '2023-01-05T14:00:00Z'
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: 225fb2676adc8f382aba3916d7b7a2088cb7f75ab62ec5c7f4543c5abf8ce4da
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/combined_submissions/com_1234567890abcdef03.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions:
                - id: csa_1234567890abcdef02
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                  error_message: null
              - id: com_1234567890abcdef04
                state: error
                expired: false
                expires_in: 123
                expires_at: null
                processed_at: null
                error_message: Something went wrong
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: null
                download_url: null
                actions: []
              - id: com_1234567890abcdef05
                state: processed
                expired: true
                expires_in: 345
                expires_at: '2023-01-05T14:05:00Z'
                processed_at: '2023-01-05T14:00:00Z'
                error_message: null
                submission_ids: []
                source_pdfs: []
                metadata: {}
                password: null
                pdf_hash: 0622971147486e1900037eff229d921d14f5b51aac7171729b2b66f81cdf6585
                download_url: null
                actions:
                - id: csa_1234567890abcdef03
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                  error_message: null
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Returns a paginated list of combined submissions (merged PDFs)
        for your account.

        Includes processing status, expiration details, and download URLs for processed
        PDFs.

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/combine-pdfs/
        description: Complete guide to combining PDFs with DocSpring
      parameters:
      - name: page
        in: query
        type: integer
        minimum: 1
        required: false
        description: 'Default: 1'
        x-example: 3
      - name: per_page
        in: query
        type: integer
        minimum: 1
        maximum: 50
        required: false
        description: 'Default: 50'
        x-example: 1
      security:
      - basicAuth: []
    post:
      operationId: combinePdfs
      summary: Merge submission PDFs, template PDFs, or custom files
      tags:
      - Combine PDFs
      responses:
        '201':
          description: combined submission created
          content:
            application/json:
              schema:
                type: object
                title: create_combined_submission_response
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  combined_submission:
                    $ref: '#/components/schemas/combined_submission'
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - status
                - combined_submission
                additionalProperties: false
              example:
                status: success
                combined_submission:
                  id: com_1234567890abcdef02
                  state: pending
                  expired: false
                  expires_in: 300
                  expires_at: null
                  processed_at: null
                  error_message: null
                  submission_ids:
                  - sub_1234567890abcdef01
                  - sub_1234567890abcdef02
                  source_pdfs:
                  - type: submission
                    id: sub_1234567890abcdef01
                  - type: template
                    id: tpl_1234567890abcdef01
                    template_version: 1.0.0
                  - type: template
                    id: tpl_1234567890abcdef01
                  - type: submission
                    id: sub_1234567890abcdef02
                  - type: custom_file
                    id: cfi_1234567890abcdef01
                  - type: combined_submission
                    id: com_1234567890abcdef01
                  - type: url
                    url: http://example.com/test-pdf.pdf
                  metadata:
                    foo: 123
                    bar: baz
                  password: null
                  pdf_hash: null
                  download_url: null
                  actions: []
        '422':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
              example:
                status: error
                errors:
                - 'source_pdfs: Could not find Submission with ID: MISSING_SUBMISSION_ID'
                - 'source_pdfs: Template document is not processed: tpl_1234567890abcdef01
                  (state: pending)'
                - 'source_pdfs: Invalid template version: ''x.y.z'' for template:
                  tpl_1234567890abcdef01'
                - 'source_pdfs: Could not find Template with version 3.4.5: tpl_1234567890abcdef01'
                - 'source_pdfs: Could not find Template with ID: MISSING_TEMPLATE_ID'
                - 'source_pdfs: Could not find Custom File with ID: MISSING_CUSTOM_FILE_ID'
                - 'source_pdfs: Could not find Combined Submission with ID: MISSING_COMBINED_SUBMISSION_ID'
        '400':
          description: invalid JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'There was a problem with the JSON you submitted: unexpected
                  character at line 1, column 34 in ''{ "source_pdfs": ["123", "345"],
                  metadata: { "user_id": "@#*&%)(@*#%&(@#!" }}'
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Combines multiple PDFs from various sources into a single PDF
        file. Supports merging

        submission PDFs, template PDFs, custom files, other merged PDFs,

        and PDFs from URLs. Merges the PDFs in the order provided.

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/combine-pdfs/
        description: Complete guide to combining PDFs with DocSpring
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                delete_custom_files:
                  type: boolean
                expires_in:
                  type: integer
                metadata:
                  type: object
                password:
                  type: string
                source_pdfs:
                  items:
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                      template_version:
                        type: string
                      type:
                        enum:
                        - submission
                        - combined_submission
                        - template
                        - custom_file
                        - url
                        type: string
                      url:
                        format: uri
                        type: string
                    required:
                    - type
                    type: object
                  type: array
                test:
                  type: boolean
              required:
              - source_pdfs
              title: combine_pdfs_data
              type: object
              example:
                source_pdfs:
                - type: submission
                  id: sub_1234567890abcdef01
                - type: template
                  id: tpl_1234567890abcdef01
                  template_version: 1.0.0
                - type: template
                  id: tpl_1234567890abcdef01
                - type: submission
                  id: sub_1234567890abcdef02
                - type: custom_file
                  id: cfi_1234567890abcdef01
                - type: combined_submission
                  id: com_1234567890abcdef01
                - type: url
                  url: http://example.com/test-pdf.pdf
                metadata:
                  foo: 123
                  bar: baz
                expires_in: 300
                delete_custom_files: true
        required: true
      security:
      - basicAuth: []
  /combined_submissions/{combined_submission_id}:
    get:
      operationId: getCombinedSubmission
      summary: Check the status of a combined submission (merged PDFs)
      tags:
      - Combine PDFs
      responses:
        '200':
          description: processed combined submission found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/combined_submission'
              example:
                id: com_1234567890abcdef01
                state: processed
                expired: false
                expires_in: 300
                expires_at: '2018-10-20T13:05:00Z'
                processed_at: '2020-05-14T02:00:00Z'
                error_message: null
                submission_ids:
                - sub_1234567890abcdef01
                - sub_1234567890abcdef02
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: password123
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: https://docspring-s3-example.s3.amazonaws.com/store/submissions/sub_1234567890abcdef01/20171002192229.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
                actions:
                - id: csa_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                  error_message: null
        '404':
          description: combined submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: Combined submission not found.
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Retrieves the details and status of a combined submission. Returns
        processing state,

        download URL (if processed), metadata, and information about any integrated
        actions

        (e.g., S3 uploads).

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/combine-pdfs/
        description: Complete guide to combining PDFs with DocSpring
      parameters:
      - name: combined_submission_id
        in: path
        type: string
        required: true
        x-example: com_1234567890abcdef01
      security:
      - basicAuth: []
    delete:
      operationId: expireCombinedSubmission
      summary: Expire a combined submission
      tags:
      - Combine PDFs
      responses:
        '200':
          description: submission was expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/combined_submission'
              example:
                id: com_1234567890abcdef01
                state: processed
                expired: true
                expires_in: 300
                expires_at: '2018-10-20T13:00:00Z'
                processed_at: '2020-05-14T02:00:00Z'
                error_message: null
                submission_ids:
                - sub_1234567890abcdef01
                - sub_1234567890abcdef02
                source_pdfs: []
                metadata:
                  qux: abc
                  user_id: 42
                password: password123
                pdf_hash: 12342342471442006963e3244a1b43610e066165c09770978221f91bd7ace8f5
                download_url: null
                actions:
                - id: csa_1234567890abcdef01
                  integration_id: aci_1234567890abcdef01
                  state: processed
                  action_type: aws_s3_upload
                  action_category: file_upload
                  result_data:
                    s3_key: acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_url: https://docspring-s3-example.s3.amazonaws.com/acc_1234/2018/combined_submissions/20181005090010-com_1234.pdf
                    s3_bucket: docspring-s3-example
                    s3_region: us-east-1
                  error_message: null
        '404':
          description: combined submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: Combined submission not found.
        '403':
          description: test API token used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: You must use a live API token to expire a combined submission.
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Expiring a combined submission deletes the PDF from our system.

        This is useful for invalidating sensitive documents.

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/combine-pdfs/
        description: Complete guide to combining PDFs with DocSpring
      parameters:
      - name: combined_submission_id
        in: path
        type: string
        required: true
        x-example: com_1234567890abcdef01
      security:
      - basicAuth: []
  /custom_files:
    post:
      operationId: createCustomFileFromUpload
      summary: Create a new custom file from a cached S3 upload
      tags:
      - Custom Files
      responses:
        '201':
          description: returns the custom file
          content:
            application/json:
              schema:
                type: object
                title: create_custom_file_response
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  custom_file:
                    $ref: '#/components/schemas/custom_file'
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - status
                - custom_file
                additionalProperties: false
              example:
                status: success
                custom_file:
                  id: cfi_1234567890abcdef01
                  url: https://docspring-s3-example.s3.amazonaws.com/store/acc_1234567890abcdef01/custom_files/cfi_1234567890abcdef01.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=docspring-s3-example%2F20210101%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210101T090000Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=abcdef0123456789
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'The Custom Files API endpoint allows you to upload PDFs to DocSpring
        and then

        merge them with other PDFs. First upload your file using the presigned URL
        endpoint,

        then use the returned cache_id to create the custom file.

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/combine-pdfs/
        description: Learn how to merge custom files with other PDFs
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                cache_id:
                  minLength: 1
                  type: string
              required:
              - cache_id
              title: create_custom_file_data
              type: object
              example:
                cache_id: cfi_1234567890abcdef01.pdf
        required: true
      security:
      - basicAuth: []
  /uploads/presign:
    get:
      operationId: getPresignUrl
      summary: Get a presigned S3 URL for direct file upload
      tags:
      - Custom Files
      responses:
        '200':
          description: presign URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upload_presign_response'
              example:
                fields:
                  key: ed9424dccf185f3835df4e9e1da0ca0b
                  policy: eyJleHBpcmF0aW9uIjoiMjAxOS0xMC0wNVQxNDowMDowMFoiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJ0ZXN0LWJ1Y2tldCJ9LHsia2V5IjoiZWQ5NDI0ZGNjZjE4NWYzODM1ZGY0ZTllMWRhMGNhMGIifSx7IngtYW16LWNyZWRlbnRpYWwiOiIxMjM0NTY3ODkvMjAxOTEwMDUvdXMtZWFzdC0xL3MzL2F3czRfcmVxdWVzdCJ9LHsieC1hbXotYWxnb3JpdGhtIjoiQVdTNC1ITUFDLVNIQTI1NiJ9LHsieC1hbXotZGF0ZSI6IjIwMTkxMDA1VDEzMDAwMFoifV19
                  x-amz-credential: 123456789/20191005/us-east-1/s3/aws4_request
                  x-amz-algorithm: AWS4-HMAC-SHA256
                  x-amz-date: 20191005T130000Z
                  x-amz-signature: 6b715e441bd7ea5beec87f8415230a600be6dfd76b8f89103137618dca959fac
                headers: {}
                method: post
                url: https://test-bucket.s3.amazonaws.com
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Returns a presigned S3 URL for uploading files directly to our
        S3 bucket. Use this

        endpoint to upload large files before creating templates or custom files.
        S3 will

        respond with a JSON object that you can include in your DocSpring API request.


        Uploaded files can be used to:

        - [Create templates](https://docspring.com/docs/api/#tag/templates/post/templates?endpoint_variant=create_template_from_cached_upload)

        - [Update templates](https://docspring.com/docs/api/#tag/templates/put/templates/{template_id}?endpoint_variant=update_template_pdf_with_cached_upload)

        - [Create custom files](https://docspring.com/docs/api/#tag/custom-files/post/custom_files)
        and then [merge them with other PDFs](https://docspring.com/docs/api/#tag/combine-pdfs/post/combined_submissions)

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/combine-pdfs/
        description: Learn about uploading custom files for PDF combining
      security:
      - basicAuth: []
  /folders/:
    get:
      operationId: listFolders
      summary: Get a list of all folders
      tags:
      - Folders
      responses:
        '200':
          description: enumerate all folders
          content:
            application/json:
              schema:
                title: list_folders
                type: array
                items:
                  $ref: '#/components/schemas/folder'
                additionalProperties: false
              example:
              - id: fld_1234567890abcdef03
                name: nested folder 1
                path: /Folder 2
                parent_folder_id: fld_1234567890abcdef02
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Returns a list of folders in your account. Can be filtered by
        parent folder ID to retrieve

        subfolders. Folders help organize templates and maintain a hierarchical structure.

        '
      parameters:
      - name: parent_folder_id
        in: query
        type: string
        required: false
        description: Filter By Folder Id
        x-example: fld_1234567890abcdef02
      security:
      - basicAuth: []
    post:
      operationId: createFolder
      summary: Create a folder
      tags:
      - Folders
      responses:
        '422':
          description: name already exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
        '404':
          description: parent folder doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '200':
          description: folder created inside another folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder'
              example:
                id: fld_1234567890abcdef05
                name: Folder 3
                path: /Folder 1
                parent_folder_id: fld_1234567890abcdef01
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Creates a new folder for organizing templates. Folders can be
        nested within other folders

        by providing a `parent_folder_id`. Folder names must be unique within the
        same parent.

        '
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                folder:
                  additionalProperties: false
                  properties:
                    name:
                      type: string
                    parent_folder_id:
                      type: string
                  required:
                  - name
                  title: create_folder_attributes
                  type: object
              required:
              - folder
              title: create_folder_data
              type: object
              example:
                folder:
                  name: Folder 3
        required: true
      security:
      - basicAuth: []
  /folders/{folder_id}/move:
    post:
      operationId: moveFolderToFolder
      summary: Move a folder
      tags:
      - Folders
      responses:
        '404':
          description: parent folder doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '200':
          description: move to root folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder'
              example:
                id: fld_1234567890abcdef01
                name: Folder 1
                path: /Folder 2
                parent_folder_id: fld_1234567890abcdef02
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Moves a folder to a new parent folder or to the root level. All
        templates and subfolders

        within the folder are moved together. Cannot move a folder into one of its
        own subfolders.

        '
      parameters:
      - name: folder_id
        in: path
        type: string
        required: true
        x-example: fld_1234567890abcdef01
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                parent_folder_id:
                  type: string
              title: move_folder_data
              type: object
              example:
                parent_folder_id: fld_1234567890abcdef02
        required: true
      security:
      - basicAuth: []
  /folders/{folder_id}/rename:
    post:
      operationId: renameFolder
      summary: Rename a folder
      tags:
      - Folders
      responses:
        '422':
          description: name already exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
        '404':
          description: folder doesn't belong to me
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '200':
          description: successful rename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder'
              example:
                id: fld_1234567890abcdef01
                name: Folder 3
                path: /
                parent_folder_id: null
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Renames an existing folder. The new name must be unique within
        the same parent folder.

        This operation only changes the folder name, not its location or contents.

        '
      parameters:
      - name: folder_id
        in: path
        type: string
        required: true
        x-example: fld_1234567890abcdef01
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                name:
                  type: string
              required:
              - name
              title: rename_folder_data
              type: object
              example:
                name: Folder 3
        required: true
      security:
      - basicAuth: []
  /folders/{folder_id}:
    delete:
      operationId: deleteFolder
      summary: Delete a folder
      tags:
      - Folders
      responses:
        '404':
          description: folder doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '422':
          description: folder has contents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
        '200':
          description: folder is empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/folder'
              example:
                id: fld_1234567890abcdef01
                name: Folder 1
                path: /
                parent_folder_id: null
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Deletes an empty folder. The folder must not contain any templates
        or subfolders.

        Move or delete all contents before attempting to delete the folder.

        '
      parameters:
      - name: folder_id
        in: path
        type: string
        required: true
        x-example: fld_1234567890abcdef01
      security:
      - basicAuth: []
  /data_requests/{data_request_id}/events:
    post:
      operationId: createDataRequestEvent
      summary: Create a new event for emailing a signee a request for signature
      tags:
      - Data Requests
      responses:
        '201':
          description: event created
          content:
            application/json:
              schema:
                type: object
                title: create_submission_data_request_event_response
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  event:
                    $ref: '#/components/schemas/submission_data_request_event'
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - status
                - event
                additionalProperties: false
              example:
                status: success
                event:
                  id: dre_1234567890abcdef01
                  submission_id: sub_1234567890abcdef01
                  submission_data_request_id: drq_1234567890abcdef01
                  event_type: send_request
                  message_type: email
                  message_recipient: test@test.com
                  occurred_at: '2018-10-20T13:00:00Z'
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
        '422':
          description: message recipient must not be blank
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
              example:
                status: error
                errors:
                - Message type can't be blank
                - Message recipient can't be blank
      description: 'Records user notification events for data requests. Use this to
        create an audit trail

        showing when and how users were notified about data request forms. Supports
        email, SMS,

        and other notification types. Records the notification time for compliance
        tracking.


        See also:

        - [Embedded Data Requests Guide](https://docspring.com/docs/guides/embedded-forms/embedded-data-requests/)
        - User notification workflow

        '
      externalDocs:
        url: https://docspring.com/docs/guides/embedded-forms/embedded-data-requests/#2-notify-the-user
        description: Track user notification events for audit trail logging
      parameters:
      - name: data_request_id
        in: path
        type: string
        required: true
        x-example: drq_1234567890abcdef01
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                event_type:
                  enum:
                  - send_request
                  - view_request
                  - accepted_terms
                  - decline_request
                  - sign_request
                  - all_completed
                  type: string
                message_recipient:
                  type:
                  - string
                  - 'null'
                message_type:
                  enum:
                  - email
                  - sms
                  - fax
                  - mail
                  - slack
                  - msteams
                  - discord
                  - telegram
                  - whatsapp
                  type: string
                  nullable: true
                occurred_at:
                  type:
                  - string
                  - 'null'
              required:
              - event_type
              title: create_submission_data_request_event_request
              type: object
              example:
                event_type: send_request
                message_type: email
                message_recipient: test@test.com
        required: true
      security:
      - basicAuth: []
  /data_requests/{data_request_id}/tokens:
    post:
      operationId: createDataRequestToken
      summary: Create a new data request token for form authentication
      tags:
      - Data Requests
      responses:
        '201':
          description: token created
          content:
            application/json:
              schema:
                type: object
                title: create_submission_data_request_token_response
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  token:
                    $ref: '#/components/schemas/submission_data_request_token'
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - status
                - token
                additionalProperties: false
              example:
                status: success
                token:
                  id: 1234567890abcdef01
                  secret: ABCDEF01234567890
                  expires_at: '2018-10-20T14:00:00Z'
                  data_request_url: https://app.docspring.com/data_requests/drq_1234567890abcdef01?token_id=1234567890abcdef01&token_secret=ABCDEF01234567890
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
        '422':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Invalid token type: invalid. Must be one of: api (expiration:
                  1 hour), email (expiration: 30 days)'
      description: 'Creates an authentication token for accessing a data request form.
        Tokens can be created

        for API access (1 hour expiration) or email links (30 day expiration). Returns
        a token

        and a pre-authenticated URL for the data request form.


        See also:

        - [Embedded Data Requests Guide](https://docspring.com/docs/guides/embedded-forms/embedded-data-requests/)

        '
      externalDocs:
        url: https://docspring.com/docs/guides/embedded-forms/embedded-data-requests/#3-request-an-authentication-token
        description: Generate authentication tokens for embedded data requests
      parameters:
      - name: data_request_id
        in: path
        type: string
        required: true
        x-example: drq_1234567890abcdef01
      - name: type
        in: query
        type: string
        enum:
        - api
        - email
        required: false
        x-example: api
      security:
      - basicAuth: []
  /data_requests/{data_request_id}:
    get:
      operationId: getDataRequest
      summary: Look up a submission data request
      tags:
      - Data Requests
      responses:
        '200':
          description: completed submission data request found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submission_data_request_show'
              example:
                id: drq_1234567890abcdef01
                email: jdoe@example.com
                name: John Doe
                order: 1
                sort_order: 0
                fields:
                - last_name
                metadata:
                  user_id: 42
                state: pending
                viewed_at: null
                completed_at: null
                data:
                  last_name: Smithers
                auth_type: password
                auth_second_factor_type: phone_number
                auth_provider: null
                auth_session_started_at: '2018-10-23T13:00:00Z'
                auth_session_id_hash: null
                auth_user_id_hash: 8ae0e445664ca53407906db8638d8ba07a2383f656383a4427bed1ab645ca29a
                auth_username_hash: b7c141423f7030a6a771563ee0731192ea871146653a3d0cf8f8b78ca8f9699b
                auth_phone_number_hash: fdcc3985b0698d655137019b1e776171081369f0aad125b8c7f57af2b8225490
                ip_address: 1.1.1.1
                user_agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36
                  (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36
                submission_id: sub_1234567890abcdef01
        '404':
          description: submission data request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: Data request not found.
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Retrieves the details and status of a data request. Returns information
        about the request

        state (pending, viewed, completed), authentication details, and metadata.

        Includes audit information like IP address, browseruser agent, and timestamps.


        See also:

        - [Embedded Data Requests Guide](https://docspring.com/docs/guides/embedded-forms/embedded-data-requests/)
        - Complete guide to data request workflow

        '
      parameters:
      - name: data_request_id
        in: path
        type: string
        required: true
        x-example: drq_1234567890abcdef01
      security:
      - basicAuth: []
    put:
      operationId: updateDataRequest
      summary: Update a submission data request
      tags:
      - Data Requests
      responses:
        '200':
          description: submission data request updated
          content:
            application/json:
              schema:
                type: object
                title: create_submission_data_request_response
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  data_request:
                    $ref: '#/components/schemas/submission_data_request_show'
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - status
                - data_request
                additionalProperties: false
              example:
                status: success
                data_request:
                  id: drq_1234567890abcdef01
                  email: jdoe@example.com
                  name: John Doe
                  order: 1
                  sort_order: 0
                  fields:
                  - last_name
                  metadata:
                    user_id: 123
                  state: pending
                  viewed_at: null
                  completed_at: null
                  data:
                    last_name: Smithers
                  auth_type: oauth
                  auth_second_factor_type: none
                  auth_provider: google
                  auth_session_started_at: '2018-10-23T13:00:00Z'
                  auth_session_id_hash: 8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92
                  auth_user_id_hash: null
                  auth_username_hash: null
                  auth_phone_number_hash: null
                  ip_address: 1.1.1.1
                  user_agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_4) AppleWebKit/537.36
                    (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36
                  submission_id: sub_1234567890abcdef01
        '422':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multiple_errors_response'
              example:
                status: error
                errors:
                - Data requests cannot be updated after they have been completed.
        '404':
          description: submission data request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: Data request not found.
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'Missing Basic Auth: Please provide an API token via Basic
                  Auth. See: https://docspring.com/docs/api-guide/authentication/'
      description: 'Updates authentication details for a data request. Use this when
        a user logs in to record

        their authentication method, provider, session information, and hashed identifiers.
        Updates

        metadata and tracks authentication state changes for auditing and compliance.

        '
      externalDocs:
        url: https://docspring.com/docs/guides/embedded-forms/embedded-data-requests/#4-update-authentication-details
        description: Update authentication details after user sign-in
      parameters:
      - name: data_request_id
        in: path
        type: string
        required: true
        x-example: drq_1234567890abcdef01
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                auth_phone_number_hash:
                  type:
                  - string
                  - 'null'
                auth_provider:
                  type:
                  - string
                  - 'null'
                auth_second_factor_type:
                  enum:
                  - none
                  - phone_number
                  - totp
                  - mobile_push
                  - security_key
                  - fingerprint
                  - ''
                  type:
                  - string
                  - 'null'
                auth_session_id_hash:
                  type:
                  - string
                  - 'null'
                auth_session_started_at:
                  type:
                  - string
                  - 'null'
                auth_type:
                  enum:
                  - none
                  - password
                  - oauth
                  - email_link
                  - phone_number
                  - ldap
                  - saml
                  type: string
                auth_user_id_hash:
                  type:
                  - string
                  - 'null'
                auth_username_hash:
                  type:
                  - string
                  - 'null'
                email:
                  type:
                  - string
                  - 'null'
                fields:
                  items:
                    type: string
                  type: array
                metadata:
                  type: object
                name:
                  type:
                  - string
                  - 'null'
                order:
                  type: integer
              title: update_submission_data_request_data
              type: object
              example:
                metadata:
                  user_id: 123
                auth_type: oauth
                auth_provider: google
                auth_session_started_at: 2018-10-23 09:00:00 -0400
                auth_session_id_hash: 8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92
        required: true
      security:
      - basicAuth: []
  /submissions/batches:
    post:
      operationId: batchGeneratePdfs
      summary: Generate multiple PDFs
      tags:
      - Submission Batches
      responses:
        '201':
          description: submissions created
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  error:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  submission_batch:
                    $ref: '#/components/schemas/submission_batch'
                  submissions:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - success
                          - error
                          - valid_but_not_saved
                        errors:
                          type: array
                          items:
                            type: string
                        submission:
                          $ref: '#/components/schemas/submission_preview'
                      additionalProperties: false
                      required:
                      - status
                required:
                - status
                - submission_batch
                - submissions
                additionalProperties: false
              example:
                status: success
                submission_batch:
                  id: sbb_1234567890abcdef01
                  state: pending
                  metadata:
                    job_id: 54321
                  processed_at: null
                  total_count: 2
                  pending_count: 2
                  error_count: 0
                  completion_percentage: 0
                submissions:
                - status: success
                  submission:
                    batch_id: sbb_1234567890abcdef01
                    data_requests: []
                    editable: null
                    error_message: null
                    expired: false
                    expires_at: null
                    id: sub_1234567890abcdef01
                    json_schema_errors: []
                    metadata:
                      submission_number: 1
                    password: null
                    processed_at: null
                    state: pending
                    template_id: tpl_1234567890abcdef01
                    template_type: pdf
                    template_version: null
                    test: false
                    truncated_text: {}
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
                - status: success
                  submission:
                    batch_id: sbb_1234567890abcdef01
                    data_requests: []
                    editable: null
                    error_message: null
                    expired: false
                    expires_at: null
                    id: sub_1234567890abcdef02
                    json_schema_errors: []
                    metadata:
                      submission_number: 2
                    password: null
                    processed_at: null
                    state: pending
                    template_id: tpl_1234567890abcdef01
                    template_type: pdf
                    template_version: null
                    test: true
                    truncated_text: {}
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
        '200':
          description: some PDFs with invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                  error:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                  submission_batch:
                    $ref: '#/components/schemas/submission_batch'
                  submissions:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                          - success
                          - error
                          - valid_but_not_saved
                        errors:
                          type: array
                          items:
                            type: string
                        submission:
                          $ref: '#/components/schemas/submission_preview'
                      additionalProperties: false
                      required:
                      - status
                required:
                - status
                - submission_batch
                - submissions
                additionalProperties: false
              example:
                status: error
                submission_batch:
                  id: sbb_1234567890abcdef01
                  state: error
                  metadata:
                    job_id: 54321
                  processed_at: null
                  total_count: 2
                  pending_count: 0
                  error_count: 1
                  completion_percentage: 100
                submissions:
                - status: valid_but_not_saved
                  errors: []
                - status: error
                  submission:
                    batch_id: sbb_1234567890abcdef01
                    data_requests: []
                    editable: null
                    error_message: null
                    expired: false
                    expires_at: null
                    id: sub_1234567890abcdef02
                    json_schema_errors:
                    - The object did not contain a required property of 'first_name'
                    metadata:
                      submission_number: 2
                    password: null
                    processed_at: null
                    state: invalid_data
                    template_id: tpl_1234567890abcdef01
                    template_type: pdf
                    template_version: null
                    test: true
                    truncated_text: {}
                    pdf_hash: null
                    download_url: null
                    permanent_download_url: null
                    preview_download_url: null
                    preview_generated_at: null
                    audit_trail_download_url: null
                    actions: []
                  errors:
                  - The object did not contain a required property of 'first_name'
        '401':
          description: authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: Invalid API token secret
        '422':
          description: array of arrays
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_or_multiple_errors_response'
              example:
                status: error
                error: 'You can only generate up to 50 PDFs per batch request. You
                  requested: 51'
                errors:
                - 'The property ''#/submissions/0'' of type array did not match the
                  following type: object'
        '400':
          description: invalid JSON
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response'
              example:
                status: error
                error: 'There was a problem with the JSON you submitted: unexpected
                  character at line 1, column 25 in ''{ "first_name": "John", last_name:
                  "Smith" }'
      description: 'Generates up to 50 PDFs in a single request. Each submission can
        use a different template

        and data. Supports both synchronous (wait for all PDFs) and asynchronous processing.
        More

        efficient than individual requests when creating multiple PDFs.


        See also:

        - [Batch and Combine PDFs](https://docspring.com/docs/api-guide/generate-pdfs/batch-generate-pdfs/)
        - Generate and merge PDFs in one request

        '
      externalDocs:
        url: https://docspring.com/docs/api-guide/generate-pdfs/batch-generate-pdfs/
        description: Learn more about generating multiple PDFs in batches
      parameters:
      - name: wait
        in: query
        type: boolean
        default: true
        required: false
        description: 'Wait for submission batch to be processed before returning.
          Set to false to return immediately. Default: true (on sync.* subdomain)'
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                metadata:
                  type: object
                submissions:
                  items:
                    additionalProperties: false
                    properties:
[...]
